---
import Social from "./Social.astro";

const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <ul class="footer">
            <li class="footer_btn"><Social platform="Facebook" username="bruno.gustavoluislima" /></li>
            <li class="footer_btn"><Social platform="Instagram" username="burno.lima" /></li>
            <li class="footer_btn"><Social platform="Linkedin" username="in/bruno-lima-4415b121a" /></li>
        </ul>
        <small>&copy; {year} <a href="https://github.com/burno-lima">Bruno Lima</a>. All Rights Reserved</small>
    </div>
</footer>
