---
import Social from "./Social.astro";

const year = new Date().getFullYear();
---
<footer>
    <Social platform="facebook" username="bruno.gustavoluislima" />
    <Social platform="instagram" username="burno.lima" />
    <Social platform="linkedin" username="in/bruno-lima-4415b121a" />
    <small>&copy; {year} <a href="https://github.com/burno-lima">Bruno Lima</a></small>
</footer>
