---
---
<div class="navbar">
    <div class="navbar__title">
        Bruno Lima
    </div>
    <div class="navbar__menu">
        <a href="/works/">Works</a>
        <a href="/posts/">Posts</a>
        <a href="https://github.com/burno-lima" target="_blank">GitHub</a>
    </div>
</div>
